* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: maroon;
    font-family: sans-serif;
  }
  
  /* NAV BAR */
  nav{
       background-color: #171010;
  }
  section {
    margin: 0 auto;
    width: 95%;
  }
  nav a{
      text-decoration: none;
      color: inherit;
      position:relative;
  }
  li:hover{
  color: yellow;
  }
  a::before{
    content:'';
    display:block;
    height:2px;
    background:white;
    position: absolute;
    bottom:-0.75em;
    left: 0;
    right: 0;
    transform:scale(0,1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
  }
  .btn:hover{
    size: 2em;
  }
  
   a:hover::before{
    transform:scale(1,1);
  }
  .nav_container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 1rem;
  }
  
  .list {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 1em;
  }
  .list li {
    padding-left: 2em;
  }
  
  /* image */
  .banner-area {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(images/people.jpg);
    background-size: cover;
  }
  
  .content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  .content h1 {
      margin-top: 1em;
    font-size: 80px;
    color: #fff;
  }
  
  .content p {
    font-size: 30px;
    color: #ddd;
  
  }
  .container p{
    font-family: 'STIX Two Math', serif;
    text-align: center;
    size: 2em;
    text-decoration: solid;
  }
  
  .content .btn {
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 100px;
    border-radius: 4px;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    background: #222;
    transition: all 0.3s ease 0s;
  }
  .btn:hover{
    color:#231E23;
    background: #F9F9F9;
     box-shadow: 0px 15px 20px rgb(243, 240, 215);
     transform: translateY(-7px);
  }
  .btn a{
    text-decoration: none;
    color: inherit;
  
  }
  
  /* main area */
  
  span{
    color: red;
    size: 5em;
    margin-bottom: 1em;
    font: 2em;
    
  }
  p{
    size: 2em;
  }
  .container {
    width: 70%;
    margin: 50px auto;
    padding: 10px;
  }
  
  .container .box {
    width: 100%;
    padding: 50px;
    background: #fff;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.1);
  }
  
  /* form */
  .form{
      margin: 0 auto;
  }
  
  /* footer */
  .bigger-footer{
       background-color: black ;
      width: 95%;
      margin: 0 auto;
  }
  footer{
    padding: 1em 0;
      background-color:black ;
       font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 1rem;
  }
  .footer_container h1{
      margin-bottom: 1em;
  }
  .footer_container ul {
  
     display: flex;
    justify-content: space-between;
  }
  footer a
  {
      text-decoration: none;
      color: inherit;
      position: relative;
  }
  .footer-list li{
      text-decoration: none;
      list-style: none;
  
  
  }
  .bigger-footer{
       display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  .icons{
     align-items: flex-end;
     margin-bottom: 1em;
  }
  .icons img{
      height: 35px;
      width: 50px;
      padding-left: 1em;
  }
  
  @media (max-width:800px) {
    .bigger-footer{
      flex-direction: column;
      align-items: center;
    }
    .footer_container{
      align-items: center;
    }
    .footer-list ul{
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
    .footer-list li{
      margin-bottom: 1em;
    }
    .icons{
      display: flex;
      justify-content: center;
      margin-bottom: 2em;
    }
    .icons img{
      margin-left: 0;
      margin-right: 1em;
    }
  .biggest-ii{
    margin-bottom: 3em;
  }
  }
  h3{
    size: 3em;
     font-family: 'STIX Two Math', serif;
  }